@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
}

.btn-white-shadow {
  box-shadow: #d2d2d2 0px -6px 0px inset, #eeeeee 0px 0px 0px 2px inset,
    #eeeeee 0px -8px 0px 0px inset;
}

.btn-ultramarine-shadow {
  box-shadow: #7f9df9 0px -6px 0px inset, #e5ecff 0px 0px 0px 2px inset,
    #e5ecff 0px -8px 0px 0px inset;
}

.btn-mustard-shadow {
  box-shadow: #daa701 0px -6px 0px inset, #fff4d2 0px 0px 0px 2px inset,
    #fff4d2 0px -8px 0px 0px inset;
}

@layer utilities {
  .btn-ultramarine-active,
  .btn-mustard-active,
  .btn-white-active {
    padding-bottom: 7px;
    margin-top: 3px;
    transform: translateY(3px);
  }

  .btn-ultramarine-active {
    box-shadow: #7f9df9 0px -3px 0px inset, #e5ecff 0px 0px 0px 2px inset,
      #e5ecff 0px -5px 0px 0px inset !important;
  }

  .btn-mustard-active {
    box-shadow: #daa701 0px -3px 0px inset, #fff4d2 0px 0px 0px 2px inset,
      #fff4d2 0px -5px 0px 0px inset !important;
  }

  .btn-white-active {
    box-shadow: #d2d2d2 0px -3px 0px inset, #eeeeee 0px 0px 0px 2px inset,
      #eeeeee 0px -5px 0px 0px inset !important;
  }

  .input-focus-shadow {
    box-shadow: 0px 0px 0px 2px #3363ff40;
  }
}

body {
  font-family: "Cabin", sans-serif;
}
